body {
  background: #999;
  font-family: Verdana, Geneva, Arial, Sans-serif;
  font-size: small;
  padding: 5px;
  border: 2px solid black;
  background-color: cyan;
  margin: 10px;
}

h1, h2 {
  color: black;
}

p {
  font-size: 150%;
}

ul {
  font-size: 120%;
}

.blue {
  color: blue;
}

.starter {
  font-weight: bold;
}

.sub {
  font-style: italic; 
}

a:link {
  color: #007e7e;
}

a:visited {
  color: #333333;
  transition: 1s;
}

a:active {
  color: #f88396;
}

a:focus {
  border: 20px solid #0d5353;
  color: red;
  transition: 1s;
}

#trophies {
   border: 10px outset #191970;
}

#copyright {
  font-size: 50%;
  text-align: center;
  line-height: normal;
  margin-top: 30px;
}

@media screen and (min-width: 481px) {
    #trophies {
        margin-right: 250px;
        padding-left: 80px;
    }
}

@media screen and (max-width: 480px) {
    #trophies {
        margin-right: 0px;
        padding-left: 25px;
    }
}

@media print {
    body {
        font-family: Verdana;
    }
}

nav ul {
  padding: 5px 0px;
}

nav ul li {
  display:inline;
  list-style-type: none;
  padding: 5px 10px;
}

nav {
  background-color: cyan;
  margin: 10px 10px 0px 10px; 
}

nav a:link, nav a:visited {
  color: #0e2f44;
  font-weight: bold;
  border-bottom: 0px;
}

nav .selected {
  background-color: #dddddd;
}

@media (min-width: 700px) {
  .tableContainer {
    display: table;
    border: 5px solid #00008b;
    border-spacing: 10px;
  }

  .tableRow {
    display: table-row;
  }

  .tableCell {
    vertical-align: top;
    display: table-cell;
    border: 2px solid blue;
  }
}

#positionList > li {
  list-style-type: none;
}

li h3 {
  display: inline;
}

.lightbox {
  display: none;
}

.lightbox:target {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lightbox figcaption {
  width: 25rem;
  position: relative;
  padding: 1.5em;
  background-color: lightpink;
}

.lightbox .close {
  position: relative;
  display: block;
}

.lightbox .close::after {
  right: -1rem;
  top: -1rem;
  width: 2rem;
  height: 2rem;
  position: absolute;
  display: block;
  z-index: 1;
  align-items: center;
  justify-content: center;
  background-color: black;
  border-radius: 50%;
  color: white;
  content: "×";
  cursor: pointer;
}

.lightbox .close::before {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0,0,0,.5);
  content: "";
  cursor: default;
}

#logo a, img {
  border: none;
}

#logo {
position:absolute;
right:0px;
top:0px;
}

#logo:hover {
  right: 0px;
  transition: 1s;
}

#bestClub {
position:absolute;
left:100px;
top:180px;
}

#europeanCup {
position:absolute;
left:100px;
top:180px;
}

#worldCup {
position:absolute;
left:100px;
top:180px;
}

#europeanSuperCup {
position:absolute;
left:100px;
top:180px;
}

#uefa {
position:absolute;
left:100px;
top:180px;
}

#laLiga {
position:absolute;
left:100px;
top:180px;
}

#copaDelRey {
position:absolute;
left:100px;
top:180px;
}

#spanishSuperCup {
position:absolute;
left:100px;
top:180px;
}